<p id="notice"><%= notice %></p>

<div class="container">

<h1>HuyPhung's Blog</h1>
<h3>My first application for coderschool!</h3>

<%= render @articles %>

<br>

<%= link_to 'New Article', new_article_path %>

</div>


