<% if @article.errors.any? %>
	<div class="container">
		<p class="alert alert-danger" role="alert">Article was unsuccessfully created.</p>
		<br>
	</div>
<% end %>

<div class="container">

	<h1>New Article</h1>
	<br>
	<%= render 'formnew', article: @article %>
	<br>

</div>